* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.marketContainer {
	background-color: #61dafb;
	width: 200px;
	height: 200px;
}

.BsXCircle {
	transition: 0.3s ease-out;
}

.BsXCircle:hover {
	cursor: pointer;
}

.cart-items {
	border-bottom: 1px solid rgba(31, 29, 29, 0.176);
}

.otherImages:hover {
	cursor: pointer;
}

.banner-holder {
	position: relative;
}

.banner {
	height: 400px;
	position: absolute;
	top: 0%;
	left: 30%;
}

@media (max-width: 360px) {
	.banner {
		display: none;
	}
}
