* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.marketContainer {
	background-color: #61dafb;
	width: 200px;
	height: 200px;
}

.BsXCircle {
	transition: 0.3s ease-out;
}

.BsXCircle:hover {
	cursor: pointer;
}

.cart-items {
	border-bottom: 1px solid rgba(31, 29, 29, 0.176);
}
